<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/header :: htmlhead"></div>
    <script src="/js/ingame.js"></script>
</head>
<body th:object="${page}">
<div th:replace="fragments/navbars :: playnavbar"></div>
<div class="container" role="main">
    <div class="jumbotron">
        <br>
        <h3 th:text="*{name}"></h3>
        <br>
        <div class="row">
            <div class="col-md-10 col-md-offset-1 custom-form">
                <div class="row custom-form-group">
                    <div class="row">
                        <div class="col-md-2">
                            <h5>Gesundheit:</h5>
                        </div>
                        <div class="col-md-2">
                            <h5 th:text="${playerDTO.hitpoints}"></h5>
                        </div>
                        <div class="col-md-2">
                            <h5>Hunger:</h5>
                        </div>
                        <div class="col-md-2">
                            <h5 th:text="${playerDTO.hunger}"></h5>
                        </div>
                        <div class="col-md-2">
                            <h5>Durst:</h5>
                        </div>
                        <div class="col-md-2">
                            <h5 th:text="${playerDTO.thirst}"></h5>
                        </div>
                    </div>
                </div>
                <br>
                <p th:text="*{storytext}"></p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <div class="row">
                    <div class="col-md-4">
                        <div class="row" th:if="*{usedItem != ''}">
                            <h4><span class="label label-danger" th:text="'-'+*{usedItem}"></span></h4>
                        </div>
                        <div class="row" th:each="ite : *{items}">
                            <h4 class="itemlable"><span class="label label-success" th:text="'+'+${ite}"></span>
                            </h4>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="row" th:each="dec : *{decisions}">
                            <div th:if="${dec.usedItem} OR ${dec.requiredSkill}">
                                <div class="col-md-6 decision">
                                    <form th:action="@{/play/{gamename}/{jump}(jump=${dec.jump}, gamename = ${gamename})}" method="post">
                                        <div th:if="${dec.hasItem} AND ${dec.hasSkill}"
                                             class="preitem">
                                            <input type="submit" th:value="${dec.text}" class="btn btn-block btn-warning"/>
                                        </div>
                                        <div
                                            th:if="${dec.hasItem == false} OR ${dec.hasSkill == false}"
                                            class="preitem">
                                            <input type="button" th:value="${dec.text}" class="btn btn-block btn-danger"/>
                                        </div>
                                    </form>
                                </div>
                                <div class="col-md-6" th:if="${dec.hasItem} AND ${dec.usedItem}">
                                    <h4><span class="label label-warning iteminfo"
                                              th:text="'-'+${dec.usedItem}+' Item'">Warning</span></h4>
                                </div>
                                <div class="col-md-6" th:if="${dec.hasItem == false}">
                                    <h4><span class="label label-danger iteminfo"
                                              th:text="${dec.usedItem}+' Item fehlt'">Warning</span></h4>
                                </div>
                                <div class="col-md-6"
                                     th:if="${dec.hasSkill} AND ${dec.requiredSkill}">
                                    <h4><span class="label label-warning iteminfo"
                                              th:text="'Benötigt den '+${dec.requiredSkill}+' Skill'">Warning</span>
                                    </h4>
                                </div>
                                <div class="col-md-6" th:if="${dec.hasSkill == false}">
                                    <h4><span class="label label-danger iteminfo"
                                              th:text="'Skill '+${dec.requiredSkill}+' nicht erlernt oder Level zu niedrig'">Warning</span>
                                    </h4>
                                </div>
                            </div>

                            <div th:if="${dec.usedItem == null} AND ${dec.requiredSkill == null}">
                                <div class="col-md-6 decision">
                                    <form th:action="@{/play/{gamename}/{jump}(jump=${dec.jump}, gamename = ${gamename})}" method="post">
                                        <input type="submit" th:value="${dec.text}"
                                               class="btn btn-block btn-default"/>
                                    </form>
                                </div>
                                <div class="col-md-6"></div>
                            </div>

                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
</body>
</html>