<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/header :: htmlhead"></div>
    <script src="/js/ingame.js"></script>
</head>
<body th:object="${page}">
<div th:replace="fragments/navbars :: playnavbar"></div>
<div class="container" role="main">
    <div class="jumbotron">
        <br>
        <h2 th:text="*{name}" align="center"></h2>
        <br>

        <div class="row">
            <div class="col-md-10 col-md-offset-1 custom-form">
                <div class="row custom-form-group">
                    <div class="row">
                        <div class="col-md-2">
                            <h5>Gesundheit:</h5>
                        </div>
                        <div class="col-md-2">
                            <h5 th:text="${playerDTO.hitpoints}"></h5>
                        </div>
                        <div class="col-md-2">
                            <h5>Hunger:</h5>
                        </div>
                        <div class="col-md-2">
                            <h5 th:text="${playerDTO.hunger}"></h5>
                        </div>
                        <div class="col-md-2">
                            <h5>Durst:</h5>
                        </div>
                        <div class="col-md-2">
                            <h5 th:text="${playerDTO.thirst}"></h5>
                        </div>
                    </div>
                </div>
                <br>
                <p th:text="*{storytext}"></p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <div class="row">
                    <div class="col-md-4">

                        Items +-
                        </form>
                    </div>
                    <div class="col-md-8">
                        <div class="row" th:each="dec : *{decisions}">


                            <div th:if="${dec.item.name != null}">
                                <div class="col-md-6 decision">
                                    <form th:action="@{/play/{jump}(jump=${dec.jump})}" method="post">
                                        <div th:if="${dec.hasItem == true}" class="preitem">
                                            <input type="submit" th:value="${dec.text}" class="btn btn-block btn-warning"/>
                                        </div>
                                        <div th:if="${dec.hasItem == false}" class="preitem">
                                            <input type="button" th:value="${dec.text}" class="btn btn-block btn-danger"/>
                                        </div>
                                    </form>
                                </div>
                                <div class="col-md-6" th:if="${dec.hasItem == true}">
                                    <h4><span class="label label-warning iteminfo" th:text="'-'+${dec.item.name}+' Item'">Warning</span></h4>
                                </div>
                                <div class="col-md-6" th:if="${dec.hasItem == false}">
                                    <h4><span class="label label-danger iteminfo" th:text="${dec.item.name}+' Item fehlt'">Warning</span></h4>
                                </div>
                            </div>

                            <div th:if="${dec.item.name == null}">
                                <div class="col-md-6 decision">
                                    <form th:action="@{/play/{jump}(jump=${dec.jump})}" method="post">
                                        <input type="submit" th:value="${dec.text}" class="btn btn-block btn-warning"/>
                                    </form>
                                </div>
                                <div class="col-md-6"></div>
                            </div>

                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
</body>
</html>