<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/header :: htmlhead"></div>
    <script src="/js/ingame.js"></script>
</head>
<body th:object="${page}">
<div th:replace="fragments/navbars :: playnavbar"></div>
<div class="container" role="main">
    <div class="jumbotron">
        <br>
        <h2 th:text="*{name}" align="center"></h2>
        <br>


            <div class="col-md-1"></div>
            <div class="col-md-10 custom-form">
                <div class="row custom-form-group">
                    <div class="row">
                        <div class="col-md-2">
                            <h5>Gesundheit:</h5>
                        </div>
                        <div class="col-md-2">
                            <h5 th:text="${playerDTO.hitpoints}"></h5>
                        </div>
                        <div class="col-md-2">
                            <h5>Hunger:</h5>
                        </div>
                        <div class="col-md-2">
                            <h5 th:text="${playerDTO.hunger}"></h5>
                        </div>
                        <div class="col-md-2">
                            <h5>Durst:</h5>
                        </div>
                        <div class="col-md-2">
                            <h5 th:text="${playerDTO.thirst}"></h5>
                        </div>
                    </div>
                </div>
                <br>
                <p th:text="*{storytext}"></p>
            </div>

        <div class="row decision" th:each="dec : *{decisions}">
            <form th:action="@{/play/{jump}(jump=${dec.jump})}" method="post">
                <div class="col-md-4 col-md-offset-4">
                    <div th:if="${dec.item.name != null}">
                        <div th:if="${dec.hasItem == true}" class="preitem">
                            <input type="submit" th:value="${dec.text}" class="btn btn-block btn-warning"/>
                        </div>
                        <div th:if="${dec.hasItem == false}" class="preitem">
                            <input type="button" th:value="${dec.text}" class="btn btn-block btn-danger" />
                        </div>

                        <div class="panel panel-warning iteminfo">
                            <div class="panel-body">
                                Information
                            </div>
                            <div class="panel-footer" th:text="'Du brauchst das '+${dec.item.name}+' Item um diese Entscheidung zu treffen!'"></div>
                        </div>
                    </div>
                    <div th:if="${dec.item.name == null}">
                        <input type="submit" th:value="${dec.text}" class="btn btn-block btn-warning"/>
                    </div>

                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>