<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/header :: htmlhead"></div>
</head>
<body>
<div th:replace="fragments/navbars :: gamesnavbar"></div>
<div class="container" role="main">
    <div class="jumbotron">
        <br>

      <h3 align="center">Wähle ein Spiel</h3>


      <div class="row">
            <div class="col-xs-6 col-xs-offset-3 custom-form">
                <div class="list-group">
                    <a href="#" class="list-group-item active">
                        Spiele
                    </a>
                  <a th:each="gamePlan : ${games}"
                     th:href="@{/play/{gameplanId}(gameplanId=${gamePlan.id})}"
                     class="list-group-item" th:text="${gamePlan.name}"></a>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>