<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

    <div th:fragment="htmlhead">
        <title>RPG</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <title>Hardware-Inventur</title>
        <link href="/css/bootstrap.min.css" rel="stylesheet"/>
        <link href="/css/custom.css" rel="stylesheet"/>
        <link href="/css/bootstrap-datetimepicker.min.css" rel="stylesheet"/>
        <link href="/css/bootstrap-select.min.css" rel="stylesheet"/>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script src="/js/bootstrap.min.js"></script>
        <script src="/js/bootstrap-select.min.js"></script>
    </div>

<body>

</body>
</html>