<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/header :: htmlhead"></div>
</head>
<body>
<div th:replace="fragments/navbars :: homenavbar"></div>
<div class="container" role="main">
    <div class="jumbotron">
        <br>
        <div sec:authorize="isAuthenticated()">
            <h2 align="center">Hallo</h2>
            <h2 align="center" sec:authentication="name"></h2>
        </div>
        <div sec:authorize="isAnonymous()">
            <h2 align="center">Willkommen</h2>
            <form action="#" th:action="@{/register}" method="get">
                <div class="row">
                    <div class="col-md-4 col-md-offset-4">
                        <input type="submit" value="Regestrieren" class="btn btn-block btn-warning"/>
                    </div>
                </div>
            </form>
        </div>

    </div>
</div>
</body>
</html>