<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/header :: htmlhead"></div>
</head>
<body>
<div th:replace="fragments/navbars :: homenavbar"></div>
<div class="container" role="main">
    <div class="jumbotron">
        <br>
        <div sec:authorize="isAuthenticated()">
            <h1 align="center">Willkommen zurück</h1>
            <br>
            <p align="center" sec:authentication="name"></p>
            <p align="center">Wir wünschen dir viel Freude.</p>
            <form action="#" th:action="@{/games}" method="get">
                <div class="row">
                    <div class="col-md-4 col-md-offset-4">
                        <input type="submit" value="Ins Spiel" class="btn btn-block btn-warning"/>
                    </div>
                </div>
            </form>

        </div>
        <div sec:authorize="isAnonymous()">
            <h1 align="center">Willkommen</h1>
            <br>
            <p align="center">Um dein Abenteuer zu starten musst du dich nur kurz registrieren. Drücke nur kurz auf 'Registrieren' und nach nur zwei Klicks gehts los.</p>
            <form action="#" th:action="@{/register}" method="get">
                <div class="row">
                    <div class="col-md-4 col-md-offset-4">
                        <input type="submit" value="Registrieren" class="btn btn-block btn-warning"/>
                    </div>
                </div>
            </form>
        </div>

    </div>

    <div class="container">
        <br>
        <div class="row">
            <div class="col-md-4">
                <div class="row">
                    <div class="col-md-1"></div>
                    <div class="col-md-10 homepage-container">
                        <h2>Du entscheidest</h2>
                        <p>Durch die Entscheidungen die du wärend deines Abenteuers triffst beeinflust du den Spielverlauf!
                            Übelege gut welche Entscheidungen du triffst denn du wirst mit den Konsequenzen leben müssen egal ob
                            poitiv oder negativ.</p>
                    </div>
                    <div class="col-md-1"></div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="row">
                    <div class="col-md-1"></div>
                    <div class="col-md-10 homepage-container">
                        <h2>Deine Geschichte</h2>
                        <p>Schreibe deine eigene Geschichte und lass andere sie Spielen. Mit der Hilfe einer schnell gelernten Sprache kannst du beliebig komplexe Text-Adventures bis ins kleinste Detail erschaffen! Coming Soon.</p>
                    </div>
                    <div class="col-md-1"></div>
                </div>


            </div>
            <div class="col-md-4">
                <div class="row">
                    <div class="col-md-1"></div>
                    <div class="col-md-10 homepage-container">
                        <h2>Coming Soon</h2>
                        <p>Skills</p>
                    </div>
                    <div class="col-md-1"></div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>